@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap%27');

:root{
    --pink:#EE0548;
    --black:#130f40;
}


*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    transition: .2s linear;
    text-transform: capitalize;
}
  

*::selection{
    background:var(--pink);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}

@font-face {
    font-family: alsscrp;
    src: url(/font/alsscrp.ttf);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}

section{
    padding:3rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border:.2rem solid var(--black);
    color:var(--black);
    font-size: 1.7rem;
    padding:.8rem 3rem;
    cursor: pointer;
    background: none;
}
  
.btn:hover{
    background: var(--pink);
    border-color: var(--pink);
    color:#fff;
}

.heading{
    padding-top: 4.5rem;
    padding-bottom: 2rem;
    text-align: center;
}
  
.heading h1{
    font-size: 4rem;
    color:#fff;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    z-index: -1;
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    font-weight: 500;
    color: white;
    font-family: alsscrp;
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(/images/wedding.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.navbar-hor {
    position: sticky;
    background-color: var(--pink);
    top:0; left: 0; right: 0;
    z-index: 10000;
    background:white;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px rgba(0,0,0,5%);
}

.navbar {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar a {
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--black);
}

.navbar-hor .navbar a.active,
.navbar-hor .navbar a:hover{
    color:var(--pink);
    background: var(--chocolate);
}





.home{
    z-index: 2;
    top: 100vh;
    background-color: wheat;
    padding: 4.5rem 2.5rem 2.5rem 2.5rem;
}

.home p {
    line-height: 30px;
    font-weight: lighter;
    color: grey;
}


.couple {
    padding-top: 5rem;
    background-color:white;
}

.couple .picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.couple .picture .image {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.couple .picture .love img {
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    height: 10vh;
}

.couple .picture .image img {
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    height: 30vh;
}

.couple .picture .image h2 {
    font-family: alsscrp;
    font-size: 4.5rem;
    color: var(--black);
    font-weight: 500;
}

.couple .headof{
    padding: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.couple .headof h1 {
    font-family: alsscrp;
    font-size: 6rem;
    font-variant: initial;
    color: var(--black);
    font-weight: 800;
    padding: 2rem;
}

.couple .headof p {
    font-size: 2rem;
    font-variant: initial;
    color: var(--black);
    font-weight: 500;
}



.clients {
    background-color: white;
}

.clients .heading h1{
    color: var(--black);
}

.clients .row{
    display: flex;
}
  
.clients .row .divider{
    padding:0 1rem;
}
  
.clients .row .box-container .box img{
    height: 30rem;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
    border:2rem solid --black;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.9);
}
  
.clients .row .box-container .box .info{
    padding:2rem 0;
}
  
.clients .row .box-container .box .info h3{
    font-size: 2.5rem;
    color:var(--black);
}
  
.clients .row .box-container .box .info p{
    font-size: 1.7rem;
    color:var(--black);
    padding:1rem 0;
    font-style: italic;
}
  
.clients .row .box-container .box .info p i{
    color:var(--pink);
    padding:0 .5rem;
}
  
.clients .adress{
    justify-content: center;
    align-items: center;
}
.clients .adress p{
    font-size: 1.7rem;
    color: var(#000);
    width: 50%;
    margin: auto;
}


@media (max-width:991px){

  header{
    padding:2rem 4%;
  }

  section{
    padding:3rem 4%;
  }

}

@media (max-width:768px) {
    
}